:root {
  --color-text-main: #ff0000;
  --color-primary: #ff5722;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}
/*----------------------------------*/


.editButton {
  color:black;
  background-color:#ff6700;
  border:10px solid #ff6700;
  border-radius: 10px 10px 10px 10px;
}




/*----------------------------------*/

body {
  background-image: url('https://cdn.glitch.global/ec718c4b-581f-4afc-848d-2eba19a4d0c0/Untitled%20drawing%20(6).png?v=1652935268578');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "HK Grotesk";
}

.editor {
  background-color: #011e52;
  border-radius: 10px 10px 10px 10px;
  width: 500px;
  height: 500px;
}

.blogTop {
  height: 75px;
  width: 500px;
  border-radius: 50px 50px 0px 0px;
	border : 5px solid black;
  background-color: #ff6700;
}

.blogBot {
  height: 100px;
  width: 500px;
  border-radius: 0px 0px 50px 50px;
	border : 5px solid black;
  background-color: #ff6700;
}

.blogTopTxt {
  padding: 10px;
  font-size: 50px;
  float: right 10px;
  color: blue;
  width: 500px;
  text-align: center;
}

.blogBotTxt {
  padding: 5px;
  color: blue;
  font-size: 20px;
}

.blogImg {
  width: 16px;
  height: 16px;
}

.users{
	float: right;
	margin-right: 1.5em;
}
.messages {
	width: 400px;
	margin: 1em;
	border : 1px solid black;
	padding: 1em;
}
.message_form,
.change_name_form{
	padding: 1em;
}

.dudeGoUpGodDamn {
  transform: translateY(-75px);
}

.topShit {
  background-color:#222100;
  color: #ff6700;
  padding: 50px
}

.dude {
  transform: translateY(-75px);
  height: 50px;
  animation: up .5s forwards;
  z-index: 10;
  position: absolute;
  left:0;
  top:0;
  right:0;
}

.dude:hover {
  animation: down .5s forwards;
}

.dudeStop {
  transform: translateY(-75px);
  height: 50px;
  animation: down .5s forwards;
  z-index: 10;
  position: absolute;
  left:0;
  top:0;
  right:0;
}

@keyframes down {
  from {transform: translateY(-70px);}
  to {transform: translateY(0px);}
}

@keyframes up {
  from {transform: translateY(0px);}
  to {transform: translateY(-70px);}
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
@font-face {
  font-family: KH Men;
  font-weight: bold;
  src: url("https://cdn.glitch.global/eac1cd41-b4dd-4d36-92fc-23d0ffb87309/KH2_ALL_MENU_I.TTF?v=1663604675500")
    format("opentype");
}

.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}

.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #d0fff1;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}

.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #2800ff;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
}
.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page a {
  color: #000000;
}

.page a:hover {
  text-decoration: none;
}

.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--click-me:hover {
  text-decoration: underline;
}

.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  cursor: pointer;
  padding-left: 3.5rem;
}

.instructions {
  margin: 1rem auto 0;
}

.instructions p {
  font-size: 1rem;
}

h2 {
  color: #2800ff;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #222100;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #ff6700;
  z-index: 10;
  border-radius:10px;
  border:1px solid #ff6700;
}

.dropdown1-content a {
  color: #ff6700;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius:9px;
  border:1px solid #ff6700;
}

.dropdown1-content a:hover {
  background-color: #ff6700;
  color: black;
  animation: pulse-animation 1s infinite;
}

.dropdown1:hover .dropdown1-content {
  display: block;
}

.dropdown1:hover .dropbtn {
  background-color: #222100;
}

.dropdown-contentLeft {
  display: none;
  position: absolute;
  right: 0;
  background-color: #222100;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

@keyframes hover {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(25deg)}
}

@keyframes noHover {
  0%{transform: rotate(25deg)}
  100%{transform: rotate(0deg)}
}

@keyframes hoverLogin {
  0%{transform: rotate(90deg)}
  100%{transform: rotate(115deg)}
}

@keyframes noHoverLogin {
  0%{transform: rotate(115deg)}
  100%{transform: rotate(90deg)}
}

.imgHov {
  animation: noHover .5s forwards;
}

.imgHov:hover {
  animation: hover .5s forwards;
}

.imgHovLogin {
  animation: noHoverLogin .5s forwards;
}

.imgHovLogin:hover {
  animation: hoverLogin .5s forwards;
}

@keyframes dissapear {
  0%{color:#ff6700}
  90%{color:#ff6700}
  100%{color:#222100}
}

.diss {
  animation: dissapear 15s forwards;
  transform: translateY(900px);
}

.items {
  position:fixed;
  left:0;
  top:125px;
  background-color: transparent;
  border-collapse:collapse;
  animation: hideItems .6s forwards
}

.items:hover {
  animation: showItems .6s forwards
}

@keyframes hideItems {
  from{transform: translateX(-4px)}
  to{transform: translateX(-375px)}
}

@keyframes showItems {
  from{transform: translateX(-375px)}
  to{transform: translateX(-4px)}
}

.main {
  background-color: #ff6700;
  height: 500px;
  width: 350px;
  border-radius: 00px 00px 10px 0px;
  bottom: 109px;
}

.spot1 {
  background-color: #ff6700;
  width: 350px;
  height: 55px;
  float: left;
  border-radius: 00px 0px 0px 0px;
}

.spot2 {
  background-color: #ff6700;
  width: 100px;
  height: 55px;
  float: left;
  border-radius: 00px 10px 10px 0px;
}

.corner {
  position: relative;
  top: -75px;
  height: 350px;
  width: 25px;
  border-top-left-radius: 100px;
  box-shadow: 0 -25px 0 0 #ff6700;
  /* thanks to Jeroen Knol for the corner style */
}

.pops {
  border-radius:25px;
  height:500px;
  width:900px;
}

@keyframes popUp {
  0%{transform: translateY(100px) translateX(275px)}
  60%{transform: translateY(200px) translateX(275px)}
  100%{transform: translateY(-1500px) translateX(275px)}
}

@keyframes popDown {
  0%{transform: translateY(-1500px) translateX(275px)}
  60%{transform: translateY(200px) translateX(275px)}
  100%{transform: translateY(100px) translateX(275px)}
}

@keyframes deepHov {
  from{ transform:translateY(0px) }
  to{ transform:translateY(-25px) }
}

@keyframes deepNoHov {
  from{ transform:translateY(-25px) }
  to{ transform:translateY(0px) }
}

.deep {
  animation: deepNoHov .3s forwards
}

.deep:hover {
  animation: deepHov .3s forwards
}

.loginBox {
  background-color:white;
  width:400px;
  height:600px;
  border-radius:20px 20px 20px 20px;
}

hed {
  color:black;
  font-size:40px;
  font-weight: bold;
  text-align: center;
}

.test {
  animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
  0%{opacity: 0}
  80%{opacity: 0}
  100%{opacity: 1}
}

@keyframes fadeOut {
  0%{opacity: 1}
  80%{opacity: 0}
  100%{opacity: 0}
}

@keyframes gone {
  0%{opacity: 0}
  100%{opacity: 0}
}

@keyframes wrong {
  0%{transform: translateX(0px)}
  25%{transform: translateX(25px)}
  50%{transform: translateX(-25px)}
  75%{transform: translateX(25px)}
  100%{transform: translateX(0px)}
}

@keyframes passTextRest {
  0%{transform:scale(0) translateY(0px)}
  100%{transform:scale(2) translateY(100px)}
}


@keyframes passText {
  0%{transform:scale(2) translateY(100px)}
  100%{transform:scale(1) translateY(0px)}
}

@keyframes nameText {
  0%{transform:scale(1) translateY(0px)}
  100%{transform:scale(2) translateY(100px)}
}

@keyframes left {
  0%{transform:translateX(0px)}
  50%{transform:translateX(0px)}
  100%{transform:translateX(1000px)}
}

@keyframes right {
  0%{transform:translateX(0px)}
  50%{transform:translateX(0px)}
  100%{transform:translateX(-1000px)}
}

@keyframes ready {
  0%{transform:translateY(-500px)}
  60%{transform:translateY(-500px)}
  100%{transform:translateY(0px)}
}

@keyframes rainbow {
  0% {color:red}
  16% {color:#ff6700}
  33% {color:yellow}
  40% {color:green}
  66% {color:lime}
  83% {color:blue}
  100% {color:purple}
}

.rainbow {
  animation: rainbow 2.5s infinite
}

.rainbow:hover {
  animation: rainbow .1s infinite
}

@keyframes spinn {
  0% { transform:rotate(0deg)}
  100% { transform:rotate(360deg)}
}

.rotate1 {
  animation: spinn 10s linear infinite; 
}

.rotate1:hover {
  animation: spinn .5s linear infinite
}

.line {
  background-color:black;
  width:1080px;
  height:5px;
}

.v {
  overflow-y:auto;
  width:100px;
  height:100px;
  background-color:#ff6700;
}

@keyframes thumbUp {
  from{transform:translateY(0px); border-radius:25px;}
  to{transform:translateY(-10px); border-radius:5px;}
}

@keyframes thumbMid {
  from{transform:translateY(-10px); border-radius:5px;}
  to{transform:translateY(0px); border-radius:5px;}
}

@keyframes thumbDown {
  from{transform:translateY(-10px); border-radius:5px;}
  to{transform:translateY(0px); border-radius:25px;}
}

@keyframes thumbNo {
  0%{transform:translateX(0px) translateY(-10px); border-radius:5px}
  33%{transform:translateX(10px) translateY(-10px); border-radius:5px}
  66%{transform:translateX(-10px) translateY(-10px); border-radius:5px}
  100%{transform:translateX(0px) translateY(-10px); border-radius:5px}
}

.thumbHov {
  animation: thumbDown .5s forwards;
}

.thumbHov:hover {
  animation: thumbUp .5s forwards;
}

.thumbHov:active {
  animation: thumbMid .5s forwards;
}

.news {
  background-color:#222100;
  color:#ff6700;
  padding:10px;
  border-radius:10px;
  width:700px;
  height:150px
}

.news:hover {
  background-color:#ff6700;
  color:#222100;
}

.news:active {
  transform:translateY(5px)
}

.newsTitle {
  color:#ff6700;
  font-size:35px;
  text-align:left;
  transform:translateY(-30px) translateX(10px)
}

.newsText {
  color:#ff6700;
  text-align:left;
}

.news:hover .newsTitle {
  color:#222100;
}

.news:hover .newsText {
  color:#222100;
}

.artTitle {
  color:#ff6700;
  font-size:100px;
}

.artText {
  color:#ff6700;
  font-size:25px;
}

.artTitle::selection {
  background: lime;
  color:#ff6700;
}